/* A stylesheet to format the grid layout of the page */

.pageContent {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: auto;
  background-color: #FFFFFF;
  height: auto;
}

.navigation {
  /* Position within pageContent grid */
  grid-column: 1 2;
}

.body {
  /* Position within pageContent grid */
  grid-column: 2 3;
}
