/* A stylesheet to format the grid layout of the page */

.pageContent {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  background-color: #f0cf65;
}

.navigation {
  /* Position within pageContent grid */
  grid-column: 1 2;
}

.body {
  /* Position within pageContent grid */
  grid-column: 2 3;
}
