/* A stylesheet to format the grid layout of the page */

.pageContent {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  background-color: #2364aa;
}

.navigation {
  grid-column: 1 2;
}

.body {
  grid-column: 2 3;
  /* This will eventually go in a seperate body stylesheet */
  font-family: 'Bree Serif', serif;
}
