/*
font-family: 'Londrina Shadow', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Comfortaa', cursive;
 */

.navItem {
color: white;
  background-color: #406E8E;
  border-top: #FFFFFF solid 10px;
  border-bottom: #23395B solid 10px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font */
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  letter-spacing: "2px";
}
