/*
font-family: 'Londrina Shadow', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Comfortaa', cursive;
 */

.navItem {
  background-color: #d7816a;
  border-bottom: #bd4f6c solid 10px;
  border-top: #f0cf65 solid 10px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font */
  font-family: 'Londrina Shadow', cursive;
  font-size: 4em;
  letter-spacing: "2px";
}
