/*
font-family: 'Londrina Shadow', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Comfortaa', cursive;
 */

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  background-color: black; */
}

.pageContent {
  margin: 0;
  padding: 0;
  background-color: #F4B9B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80vw; */
}

.header {
  background-color: #FFFFEA;
  margin: 5%;
  width: 80%;
  border-radius: 5vw;
  border-bottom: #FF5E5B solid 5px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  margin: 5%;
  padding: 0;
  text-align: center;
  font-size: 6em;
}

.project {
  background-color: #FFFFEA;
  margin: 5%;
  width: 80%;
  border-radius: 5vw;
  border-bottom: #FF5E5B solid 5px;
}

.projectHeader {
  height: 10vw;
  width: auto;
  background-color: #DAEDBD;
  border-bottom: #7DBBC3 solid 5px;
  display: flex;
  align-items: center;
  margin: 5%;
  border-radius: 5vw;

}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 3em;
  margin-left: 5%;
}

p {
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  margin-left: 5%;
}
